<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>左手</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>222.33333</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>222.33333</string>
			<key>yaxis</key>
			<string>335.91666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>209.04166</string>
			<key>yaxis</key>
			<string>356.45831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>187.29166</string>
			<key>yaxis</key>
			<string>387.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>169.16666</string>
			<key>yaxis</key>
			<string>412.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>166.75</string>
			<key>yaxis</key>
			<string>421.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>153.45833</string>
			<key>yaxis</key>
			<string>450.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>114.79166</string>
			<key>yaxis</key>
			<string>494.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>91.833328</string>
			<key>yaxis</key>
			<string>526.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>87</string>
			<key>yaxis</key>
			<string>554.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>72.5</string>
			<key>yaxis</key>
			<string>576.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>70.083328</string>
			<key>yaxis</key>
			<string>604.16663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>61.624996</string>
			<key>yaxis</key>
			<string>606.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>62.833332</string>
			<key>yaxis</key>
			<string>580</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>47.125</string>
			<key>yaxis</key>
			<string>615.04163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>39.875</string>
			<key>yaxis</key>
			<string>613.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>44.708332</string>
			<key>yaxis</key>
			<string>583.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>32.625</string>
			<key>yaxis</key>
			<string>616.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>18.125</string>
			<key>yaxis</key>
			<string>615.04163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>29</string>
			<key>yaxis</key>
			<string>576.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>10.875</string>
			<key>yaxis</key>
			<string>595.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>6.0416665</string>
			<key>yaxis</key>
			<string>589.66663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>27.791666</string>
			<key>yaxis</key>
			<string>549.79163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>27.791666</string>
			<key>yaxis</key>
			<string>544.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>13.291666</string>
			<key>yaxis</key>
			<string>549.79163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>7.25</string>
			<key>yaxis</key>
			<string>542.54163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>6.0416665</string>
			<key>yaxis</key>
			<string>541.33331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>29</string>
			<key>yaxis</key>
			<string>524.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>44.708332</string>
			<key>yaxis</key>
			<string>518.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>77.333328</string>
			<key>yaxis</key>
			<string>478.49997</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>111.16666</string>
			<key>yaxis</key>
			<string>408.41666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>125.66666</string>
			<key>yaxis</key>
			<string>390.29166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>134.125</string>
			<key>yaxis</key>
			<string>383.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>140.16666</string>
			<key>yaxis</key>
			<string>350.41666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>164.33333</string>
			<key>yaxis</key>
			<string>316.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>165.54166</string>
			<key>yaxis</key>
			<string>290</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>196.95833</string>
			<key>yaxis</key>
			<string>234.41666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>222.33333</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
	</array>
	<key>右手</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>414.45831</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>414.45831</string>
			<key>yaxis</key>
			<string>329.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>419.29166</string>
			<key>yaxis</key>
			<string>345.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>428.95831</string>
			<key>yaxis</key>
			<string>360.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>467.625</string>
			<key>yaxis</key>
			<string>412.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>476.08331</string>
			<key>yaxis</key>
			<string>445.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>546.16663</string>
			<key>yaxis</key>
			<string>528.04163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>552.20831</string>
			<key>yaxis</key>
			<string>558.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>565.5</string>
			<key>yaxis</key>
			<string>577.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>565.5</string>
			<key>yaxis</key>
			<string>606.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>573.95831</string>
			<key>yaxis</key>
			<string>605.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>577.58331</string>
			<key>yaxis</key>
			<string>580</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>587.25</string>
			<key>yaxis</key>
			<string>613.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>596.91663</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>592.08331</string>
			<key>yaxis</key>
			<string>583.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>605.375</string>
			<key>yaxis</key>
			<string>615.04163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>616.25</string>
			<key>yaxis</key>
			<string>610.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>609</string>
			<key>yaxis</key>
			<string>577.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>624.70831</string>
			<key>yaxis</key>
			<string>596.91663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>630.75</string>
			<key>yaxis</key>
			<string>588.45831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>607.79163</string>
			<key>yaxis</key>
			<string>551</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>606.58331</string>
			<key>yaxis</key>
			<string>543.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>625.91663</string>
			<key>yaxis</key>
			<string>548.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>627.125</string>
			<key>yaxis</key>
			<string>541.33331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>616.25</string>
			<key>yaxis</key>
			<string>528.04163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>589.66663</string>
			<key>yaxis</key>
			<string>515.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>537.70831</string>
			<key>yaxis</key>
			<string>437.41666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>528.04163</string>
			<key>yaxis</key>
			<string>413.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>513.54163</string>
			<key>yaxis</key>
			<string>389.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>502.66666</string>
			<key>yaxis</key>
			<string>383.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>501.45831</string>
			<key>yaxis</key>
			<string>368.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>478.49997</string>
			<key>yaxis</key>
			<string>322.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>457.95831</string>
			<key>yaxis</key>
			<string>258.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>447.08331</string>
			<key>yaxis</key>
			<string>240.45833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>422.91666</string>
			<key>yaxis</key>
			<string>230.79166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>414.45831</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
	</array>
	<key>背部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>222.33333</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>222.33333</string>
			<key>yaxis</key>
			<string>335.91666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>238.04166</string>
			<key>yaxis</key>
			<string>397.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>395.125</string>
			<key>yaxis</key>
			<string>397.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>395.125</string>
			<key>yaxis</key>
			<string>392.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>409.625</string>
			<key>yaxis</key>
			<string>345.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>414.45831</string>
			<key>yaxis</key>
			<string>329.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>414.45831</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>222.33333</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
	</array>
	<key>腰部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>238.04166</string>
			<key>yaxis</key>
			<string>397.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>238.04166</string>
			<key>yaxis</key>
			<string>476.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>406</string>
			<key>yaxis</key>
			<string>476.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>396.33331</string>
			<key>yaxis</key>
			<string>442.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>395.125</string>
			<key>yaxis</key>
			<string>391.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>395.125</string>
			<key>yaxis</key>
			<string>397.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>238.04166</string>
			<key>yaxis</key>
			<string>397.54166</string>
		</dict>
	</array>
	<key>臀部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>238.04166</string>
			<key>yaxis</key>
			<string>476.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>232</string>
			<key>yaxis</key>
			<string>497.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>223.54166</string>
			<key>yaxis</key>
			<string>542.54163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>224.75</string>
			<key>yaxis</key>
			<string>571.54163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>216.29166</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>315.375</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>319</string>
			<key>yaxis</key>
			<string>592.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>328.66666</string>
			<key>yaxis</key>
			<string>592.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>327.45831</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>421.70831</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>421.70831</string>
			<key>yaxis</key>
			<string>604.16663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>416.875</string>
			<key>yaxis</key>
			<string>572.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>418.08331</string>
			<key>yaxis</key>
			<string>523.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>412.04166</string>
			<key>yaxis</key>
			<string>492.99997</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>404.79166</string>
			<key>yaxis</key>
			<string>472.45831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>406</string>
			<key>yaxis</key>
			<string>476.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>238.04166</string>
			<key>yaxis</key>
			<string>476.08331</string>
		</dict>
	</array>
	<key>左腿</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>216.29166</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>212.66666</string>
			<key>yaxis</key>
			<string>708.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>215.08333</string>
			<key>yaxis</key>
			<string>729.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>212.66666</string>
			<key>yaxis</key>
			<string>737.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>205.41666</string>
			<key>yaxis</key>
			<string>776.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>204.20833</string>
			<key>yaxis</key>
			<string>798.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>192.125</string>
			<key>yaxis</key>
			<string>822.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>192.125</string>
			<key>yaxis</key>
			<string>928</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>194.54166</string>
			<key>yaxis</key>
			<string>992.04163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>180.04166</string>
			<key>yaxis</key>
			<string>1012.5833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>186.08333</string>
			<key>yaxis</key>
			<string>1039.1666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>172.79166</string>
			<key>yaxis</key>
			<string>1064.5416</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>159.5</string>
			<key>yaxis</key>
			<string>1095.9583</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>211.45833</string>
			<key>yaxis</key>
			<string>1123.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>225.95833</string>
			<key>yaxis</key>
			<string>1108.0416</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>230.79166</string>
			<key>yaxis</key>
			<string>1068.1666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>225.95833</string>
			<key>yaxis</key>
			<string>1042.7916</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>230.79166</string>
			<key>yaxis</key>
			<string>1018.6249</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>229.58333</string>
			<key>yaxis</key>
			<string>993.24994</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>254.95833</string>
			<key>yaxis</key>
			<string>861.54163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>261</string>
			<key>yaxis</key>
			<string>805.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>279.125</string>
			<key>yaxis</key>
			<string>738.29163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>285.16666</string>
			<key>yaxis</key>
			<string>723.79163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>304.5</string>
			<key>yaxis</key>
			<string>662.16663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>311.75</string>
			<key>yaxis</key>
			<string>635.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>315.375</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>216.29166</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
	</array>
	<key>右腿</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>327.45831</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>340.75</string>
			<key>yaxis</key>
			<string>676.66663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>358.875</string>
			<key>yaxis</key>
			<string>728.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>360.08331</string>
			<key>yaxis</key>
			<string>749.16663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>385.45831</string>
			<key>yaxis</key>
			<string>813.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>383.04166</string>
			<key>yaxis</key>
			<string>834.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>412.04166</string>
			<key>yaxis</key>
			<string>982.37494</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>409.625</string>
			<key>yaxis</key>
			<string>1018.6249</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>416.875</string>
			<key>yaxis</key>
			<string>1035.5416</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>409.625</string>
			<key>yaxis</key>
			<string>1087.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>420.5</string>
			<key>yaxis</key>
			<string>1114.0833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>437.41666</string>
			<key>yaxis</key>
			<string>1124.9583</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>479.70831</string>
			<key>yaxis</key>
			<string>1092.3333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>456.75</string>
			<key>yaxis</key>
			<string>1027.0833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>456.75</string>
			<key>yaxis</key>
			<string>1002.9166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>449.5</string>
			<key>yaxis</key>
			<string>984.79163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>454.33331</string>
			<key>yaxis</key>
			<string>860.33331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>451.91666</string>
			<key>yaxis</key>
			<string>834.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>447.08331</string>
			<key>yaxis</key>
			<string>814.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>436.20831</string>
			<key>yaxis</key>
			<string>790.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>436.20831</string>
			<key>yaxis</key>
			<string>770.91663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>428.95831</string>
			<key>yaxis</key>
			<string>744.33331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>426.54166</string>
			<key>yaxis</key>
			<string>640.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>421.70831</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>327.45831</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
	</array>
	<key>脖子</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>222.33333</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>228.375</string>
			<key>yaxis</key>
			<string>223.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>240.45833</string>
			<key>yaxis</key>
			<string>207.83333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>276.70831</string>
			<key>yaxis</key>
			<string>187.29166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>283.95831</string>
			<key>yaxis</key>
			<string>165.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>346.79166</string>
			<key>yaxis</key>
			<string>161.91666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>345.58331</string>
			<key>yaxis</key>
			<string>177.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>350.41666</string>
			<key>yaxis</key>
			<string>187.29166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>393.91666</string>
			<key>yaxis</key>
			<string>212.66666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>414.45831</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>222.33333</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
	</array>
	<key>头部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>282.75</string>
			<key>yaxis</key>
			<string>165.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>262.20831</string>
			<key>yaxis</key>
			<string>116</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>256.16666</string>
			<key>yaxis</key>
			<string>85.791664</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>262.20831</string>
			<key>yaxis</key>
			<string>66.458328</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>286.375</string>
			<key>yaxis</key>
			<string>39.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>312.95831</string>
			<key>yaxis</key>
			<string>35.041664</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>341.95831</string>
			<key>yaxis</key>
			<string>48.333332</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>360.08331</string>
			<key>yaxis</key>
			<string>73.708328</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>361.29166</string>
			<key>yaxis</key>
			<string>100.29166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>345.58331</string>
			<key>yaxis</key>
			<string>159.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>282.75</string>
			<key>yaxis</key>
			<string>165.54166</string>
		</dict>
	</array>
	<key>左耳</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>274.29166</string>
			<key>yaxis</key>
			<string>147.41666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>268.25</string>
			<key>yaxis</key>
			<string>147.41666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>254.95833</string>
			<key>yaxis</key>
			<string>123.24999</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>263.41666</string>
			<key>yaxis</key>
			<string>116</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>274.29166</string>
			<key>yaxis</key>
			<string>147.41666</string>
		</dict>
	</array>
	<key>右耳</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>351.625</string>
			<key>yaxis</key>
			<string>141.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>357.66666</string>
			<key>yaxis</key>
			<string>140.16666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>364.91666</string>
			<key>yaxis</key>
			<string>116</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>357.66666</string>
			<key>yaxis</key>
			<string>109.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>351.625</string>
			<key>yaxis</key>
			<string>141.375</string>
		</dict>
	</array>
</dict>
</plist>
