<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>胸部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>210.49999999999994</string>
			<key>yaxis</key>
			<string>228.49999579480379</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>217.49999999999994</string>
			<key>yaxis</key>
			<string>324.4999940280693</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>221.52776533964473</string>
			<key>yaxis</key>
			<string>346.38887132917131</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>235.91270329673236</string>
			<key>yaxis</key>
			<string>379.18649037679035</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>393.57142207205271</string>
			<key>yaxis</key>
			<string>379.18649037679035</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>401.05157189882669</string>
			<key>yaxis</key>
			<string>359.62303343273339</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>409.625</string>
			<key>yaxis</key>
			<string>308.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>409.625</string>
			<key>yaxis</key>
			<string>221.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>210.49999999999994</string>
			<key>yaxis</key>
			<string>228.49999579480379</string>
		</dict>
	</array>
	<key>左手</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>210.49999999999994</string>
			<key>yaxis</key>
			<string>228.49999579480379</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>217.49999999999994</string>
			<key>yaxis</key>
			<string>324.4999940280693</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>205.49999999999997</string>
			<key>yaxis</key>
			<string>324.4999940280693</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>200.49999999999994</string>
			<key>yaxis</key>
			<string>364.99999328272816</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>187.99999999999997</string>
			<key>yaxis</key>
			<string>383.99999293306195</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>173.99999999999994</string>
			<key>yaxis</key>
			<string>398.99999265700967</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>165.99999999999997</string>
			<key>yaxis</key>
			<string>406.9999925097818</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>151.49999999999997</string>
			<key>yaxis</key>
			<string>446.49999178284418</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>136.49999999999997</string>
			<key>yaxis</key>
			<string>466.49999141477451</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>94.999999999999972</string>
			<key>yaxis</key>
			<string>518.99999044859146</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>92.499999999999986</string>
			<key>yaxis</key>
			<string>540.99999004371489</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>87.499999999999986</string>
			<key>yaxis</key>
			<string>553.99998980446958</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>79.999999999999986</string>
			<key>yaxis</key>
			<string>572.49998946400513</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>72.999999999999986</string>
			<key>yaxis</key>
			<string>609.49998878307622</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>64.999999999999986</string>
			<key>yaxis</key>
			<string>609.99998877387441</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>68.499999999999986</string>
			<key>yaxis</key>
			<string>575.49998940879459</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>55.999999999999986</string>
			<key>yaxis</key>
			<string>615.99998866345356</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>46.999999999999993</string>
			<key>yaxis</key>
			<string>614.99998868185708</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>54.499999999999986</string>
			<key>yaxis</key>
			<string>576.49998939039119</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>37.999999999999993</string>
			<key>yaxis</key>
			<string>618.99998860824303</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>28.999999999999993</string>
			<key>yaxis</key>
			<string>616.49998865425187</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>44.999999999999986</string>
			<key>yaxis</key>
			<string>562.49998964804001</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>42.499999999999993</string>
			<key>yaxis</key>
			<string>562.49998964804001</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>22.999999999999996</string>
			<key>yaxis</key>
			<string>594.49998905912855</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>16.499999999999996</string>
			<key>yaxis</key>
			<string>591.99998910513716</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>38.999999999999993</string>
			<key>yaxis</key>
			<string>532.99999019094275</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>36.999999999999993</string>
			<key>yaxis</key>
			<string>530.99999022774966</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>28.499999999999993</string>
			<key>yaxis</key>
			<string>536.49999012653063</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>19.499999999999996</string>
			<key>yaxis</key>
			<string>538.99999008052191</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>15.999999999999996</string>
			<key>yaxis</key>
			<string>531.99999020934627</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>33.999999999999986</string>
			<key>yaxis</key>
			<string>513.49999054981072</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>56.499999999999993</string>
			<key>yaxis</key>
			<string>503.49999073384561</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>64.499999999999986</string>
			<key>yaxis</key>
			<string>496.9999908534682</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>81.499999999999986</string>
			<key>yaxis</key>
			<string>469.49999135956409</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>115.99999999999997</string>
			<key>yaxis</key>
			<string>396.49999270301845</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>128.99999999999997</string>
			<key>yaxis</key>
			<string>382.99999295146546</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>136.49999999999997</string>
			<key>yaxis</key>
			<string>349.49999356798213</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>147.49999999999997</string>
			<key>yaxis</key>
			<string>331.99999389004313</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>157.49999999999997</string>
			<key>yaxis</key>
			<string>317.99999414769189</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>161.99999999999997</string>
			<key>yaxis</key>
			<string>290.99999464458602</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>171.99999999999997</string>
			<key>yaxis</key>
			<string>267.99999506786617</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>183.99999999999997</string>
			<key>yaxis</key>
			<string>248.4999954267341</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>189.99999999999994</string>
			<key>yaxis</key>
			<string>240.99999556476024</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>210.49999999999994</string>
			<key>yaxis</key>
			<string>228.49999579480379</string>
		</dict>
	</array>
	<key>右手</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>409.625</string>
			<key>yaxis</key>
			<string>221.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>409.625</string>
			<key>yaxis</key>
			<string>308.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>410.83331</string>
			<key>yaxis</key>
			<string>320.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>422.91666</string>
			<key>yaxis</key>
			<string>357.66666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>436.20831</string>
			<key>yaxis</key>
			<string>378.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>464</string>
			<key>yaxis</key>
			<string>409.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>476.08331</string>
			<key>yaxis</key>
			<string>441.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>537.70831</string>
			<key>yaxis</key>
			<string>517.16663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>541.33331</string>
			<key>yaxis</key>
			<string>535.29163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>555.83331</string>
			<key>yaxis</key>
			<string>575.16663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>561.875</string>
			<key>yaxis</key>
			<string>609</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>569.125</string>
			<key>yaxis</key>
			<string>610.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>570.33331</string>
			<key>yaxis</key>
			<string>581.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>581.20831</string>
			<key>yaxis</key>
			<string>616.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>590.875</string>
			<key>yaxis</key>
			<string>613.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>583.625</string>
			<key>yaxis</key>
			<string>580</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>599.33331</string>
			<key>yaxis</key>
			<string>618.66663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>610.20831</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>596.91663</string>
			<key>yaxis</key>
			<string>567.91663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>613.83331</string>
			<key>yaxis</key>
			<string>594.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>624.70831</string>
			<key>yaxis</key>
			<string>588.45831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>601.75</string>
			<key>yaxis</key>
			<string>534.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>621.08331</string>
			<key>yaxis</key>
			<string>536.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>623.5</string>
			<key>yaxis</key>
			<string>526.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>604.16663</string>
			<key>yaxis</key>
			<string>508.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>572.75</string>
			<key>yaxis</key>
			<string>494.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>541.33331</string>
			<key>yaxis</key>
			<string>443.45831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>512.33331</string>
			<key>yaxis</key>
			<string>384.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>501.45831</string>
			<key>yaxis</key>
			<string>375.79166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>497.83331</string>
			<key>yaxis</key>
			<string>352.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>473.66666</string>
			<key>yaxis</key>
			<string>305.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>464</string>
			<key>yaxis</key>
			<string>269.45831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>449.5</string>
			<key>yaxis</key>
			<string>240.45833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>435</string>
			<key>yaxis</key>
			<string>227.16666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>419.29166</string>
			<key>yaxis</key>
			<string>224.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>409.625</string>
			<key>yaxis</key>
			<string>221.125</string>
		</dict>
	</array>
	<key>腹部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>235.91270329673236</string>
			<key>yaxis</key>
			<string>379.18649037679035</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>237.63889374441681</string>
			<key>yaxis</key>
			<string>401.62696656726655</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>232.46032240136347</string>
			<key>yaxis</key>
			<string>465.49601418631414</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>235.33728892112026</string>
			<key>yaxis</key>
			<string>483.33333333333331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>404.50397913377145</string>
			<key>yaxis</key>
			<string>483.33333333333331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>397.5991910034578</string>
			<key>yaxis</key>
			<string>467.79761904761904</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>397.5991910034578</string>
			<key>yaxis</key>
			<string>454.5635096232096</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>391.26984358833209</string>
			<key>yaxis</key>
			<string>423.49208105178104</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>393.57142207205271</string>
			<key>yaxis</key>
			<string>379.18649037679035</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>235.91270329673236</string>
			<key>yaxis</key>
			<string>379.18649037679035</string>
		</dict>
	</array>
	<key>会阴</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>235.33728892112026</string>
			<key>yaxis</key>
			<string>483.33333333333331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>225.95833</string>
			<key>yaxis</key>
			<string>501.45831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>222.33333</string>
			<key>yaxis</key>
			<string>540.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>223.54166</string>
			<key>yaxis</key>
			<string>565.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>211.45833</string>
			<key>yaxis</key>
			<string>630.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>309.33331</string>
			<key>yaxis</key>
			<string>630.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>315.375</string>
			<key>yaxis</key>
			<string>587.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>322.625</string>
			<key>yaxis</key>
			<string>589.66663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>322.625</string>
			<key>yaxis</key>
			<string>602.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>328.875</string>
			<key>yaxis</key>
			<string>630.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>424.125</string>
			<key>yaxis</key>
			<string>630.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>424.125</string>
			<key>yaxis</key>
			<string>618.66663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>419.29166</string>
			<key>yaxis</key>
			<string>604.16663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>415.66666</string>
			<key>yaxis</key>
			<string>566.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>414.45831</string>
			<key>yaxis</key>
			<string>526.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>407.20831</string>
			<key>yaxis</key>
			<string>489.37497</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>404.50397913377145</string>
			<key>yaxis</key>
			<string>483.33333333333331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>235.33728892112026</string>
			<key>yaxis</key>
			<string>483.33333333333331</string>
		</dict>
	</array>
	<key>左腿</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>211.45833</string>
			<key>yaxis</key>
			<string>630.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>210.25</string>
			<key>yaxis</key>
			<string>659.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>207.83333</string>
			<key>yaxis</key>
			<string>700.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>209.04166</string>
			<key>yaxis</key>
			<string>738.29163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>203</string>
			<key>yaxis</key>
			<string>752.79163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>200.58333</string>
			<key>yaxis</key>
			<string>780.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>198.16666</string>
			<key>yaxis</key>
			<string>799.91663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>193.33333</string>
			<key>yaxis</key>
			<string>819.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>183.66666</string>
			<key>yaxis</key>
			<string>884.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>189.70833</string>
			<key>yaxis</key>
			<string>999.29163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>178.83333</string>
			<key>yaxis</key>
			<string>1017.4166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>180.04166</string>
			<key>yaxis</key>
			<string>1035.5416</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>175.20833</string>
			<key>yaxis</key>
			<string>1053.6666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>160.70833</string>
			<key>yaxis</key>
			<string>1088.7083</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>158.29166</string>
			<key>yaxis</key>
			<string>1106.8333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>182.45833</string>
			<key>yaxis</key>
			<string>1127.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>212.66666</string>
			<key>yaxis</key>
			<string>1134.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>227.16666</string>
			<key>yaxis</key>
			<string>1098.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>222.33333</string>
			<key>yaxis</key>
			<string>1051.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>228.375</string>
			<key>yaxis</key>
			<string>1036.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>228.375</string>
			<key>yaxis</key>
			<string>1024.6666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>224.75</string>
			<key>yaxis</key>
			<string>1004.1249</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>238.04166</string>
			<key>yaxis</key>
			<string>918.33331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>252.54166</string>
			<key>yaxis</key>
			<string>867.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>254.95833</string>
			<key>yaxis</key>
			<string>815.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>277.91666</string>
			<key>yaxis</key>
			<string>746.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>309.33331</string>
			<key>yaxis</key>
			<string>630.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>211.45833</string>
			<key>yaxis</key>
			<string>630.75</string>
		</dict>
	</array>
	<key>右腿</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>328.875</string>
			<key>yaxis</key>
			<string>630.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>335.91666</string>
			<key>yaxis</key>
			<string>662.16663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>352.83331</string>
			<key>yaxis</key>
			<string>717.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>360.08331</string>
			<key>yaxis</key>
			<string>756.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>384.25</string>
			<key>yaxis</key>
			<string>816.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>389.08331</string>
			<key>yaxis</key>
			<string>891.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>406</string>
			<key>yaxis</key>
			<string>955.79163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>413.25</string>
			<key>yaxis</key>
			<string>1016.2083</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>410.83331</string>
			<key>yaxis</key>
			<string>1029.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>416.875</string>
			<key>yaxis</key>
			<string>1050.0416</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>409.625</string>
			<key>yaxis</key>
			<string>1100.7916</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>419.29166</string>
			<key>yaxis</key>
			<string>1127.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>437.41666</string>
			<key>yaxis</key>
			<string>1135.8333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>472.45831</string>
			<key>yaxis</key>
			<string>1109.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>478.49997</string>
			<key>yaxis</key>
			<string>1094.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>456.75</string>
			<key>yaxis</key>
			<string>1041.5833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>448.29166</string>
			<key>yaxis</key>
			<string>995.66663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>451.91666</string>
			<key>yaxis</key>
			<string>861.54163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>449.5</string>
			<key>yaxis</key>
			<string>825.29163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>441.04166</string>
			<key>yaxis</key>
			<string>804.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>436.20831</string>
			<key>yaxis</key>
			<string>797.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>435</string>
			<key>yaxis</key>
			<string>780.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>426.54166</string>
			<key>yaxis</key>
			<string>733.45831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>425.33331</string>
			<key>yaxis</key>
			<string>710.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>425.33331</string>
			<key>yaxis</key>
			<string>653.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>424.125</string>
			<key>yaxis</key>
			<string>630.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>328.875</string>
			<key>yaxis</key>
			<string>630.75</string>
		</dict>
	</array>
	<key>脖子</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>210.49999999999994</string>
			<key>yaxis</key>
			<string>228.49999579480379</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>275.5</string>
			<key>yaxis</key>
			<string>192.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>279.125</string>
			<key>yaxis</key>
			<string>167.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>302.08331</string>
			<key>yaxis</key>
			<string>187.29166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>328.66666</string>
			<key>yaxis</key>
			<string>187.29166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>345.58331</string>
			<key>yaxis</key>
			<string>161.91666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>345.58331</string>
			<key>yaxis</key>
			<string>189.70833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>385.45831</string>
			<key>yaxis</key>
			<string>209.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>409.625</string>
			<key>yaxis</key>
			<string>221.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>210.49999999999994</string>
			<key>yaxis</key>
			<string>228.49999579480379</string>
		</dict>
	</array>
	<key>脸部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>279.125</string>
			<key>yaxis</key>
			<string>167.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>273.08331</string>
			<key>yaxis</key>
			<string>138.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>270.66666</string>
			<key>yaxis</key>
			<string>122.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>305.70831</string>
			<key>yaxis</key>
			<string>122.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>294.83331</string>
			<key>yaxis</key>
			<string>136.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>294.83331</string>
			<key>yaxis</key>
			<string>160.70833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>305.70831</string>
			<key>yaxis</key>
			<string>170.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>323.83331</string>
			<key>yaxis</key>
			<string>170.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>331.08331</string>
			<key>yaxis</key>
			<string>157.08333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>328.66666</string>
			<key>yaxis</key>
			<string>134.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>322.625</string>
			<key>yaxis</key>
			<string>122.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>350.41666</string>
			<key>yaxis</key>
			<string>122.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>350.41666</string>
			<key>yaxis</key>
			<string>141.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>345.58331</string>
			<key>yaxis</key>
			<string>161.91666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>328.66666</string>
			<key>yaxis</key>
			<string>187.29166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>302.08331</string>
			<key>yaxis</key>
			<string>187.29166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>279.125</string>
			<key>yaxis</key>
			<string>167.95833</string>
		</dict>
	</array>
	<key>左耳</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>273.08331</string>
			<key>yaxis</key>
			<string>138.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>252.54166</string>
			<key>yaxis</key>
			<string>120.83333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>254.95833</string>
			<key>yaxis</key>
			<string>108.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>270.66666</string>
			<key>yaxis</key>
			<string>122.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>273.08331</string>
			<key>yaxis</key>
			<string>138.95833</string>
		</dict>
	</array>
	<key>右耳</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>350.41666</string>
			<key>yaxis</key>
			<string>141.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>357.66666</string>
			<key>yaxis</key>
			<string>137.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>362.5</string>
			<key>yaxis</key>
			<string>116</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>357.66666</string>
			<key>yaxis</key>
			<string>106.33333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>350.41666</string>
			<key>yaxis</key>
			<string>111.16666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>350.41666</string>
			<key>yaxis</key>
			<string>141.375</string>
		</dict>
	</array>
	<key>左眼</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>276.70831</string>
			<key>yaxis</key>
			<string>99.083328</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>271.875</string>
			<key>yaxis</key>
			<string>123.24999</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>303.29166</string>
			<key>yaxis</key>
			<string>123.24999</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>306.91666</string>
			<key>yaxis</key>
			<string>99.083328</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>276.70831</string>
			<key>yaxis</key>
			<string>99.083328</string>
		</dict>
	</array>
	<key>右眼</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>314.16666</string>
			<key>yaxis</key>
			<string>99.083328</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>323.83331</string>
			<key>yaxis</key>
			<string>123.24999</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>350.41666</string>
			<key>yaxis</key>
			<string>123.24999</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>348</string>
			<key>yaxis</key>
			<string>97.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>314.16666</string>
			<key>yaxis</key>
			<string>99.083328</string>
		</dict>
	</array>
	<key>鼻子</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>312.95831</string>
			<key>yaxis</key>
			<string>108.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>294.83331</string>
			<key>yaxis</key>
			<string>135.33333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>297.25</string>
			<key>yaxis</key>
			<string>143.79166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>327.45831</string>
			<key>yaxis</key>
			<string>143.79166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>327.45831</string>
			<key>yaxis</key>
			<string>132.91666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>312.95831</string>
			<key>yaxis</key>
			<string>108.75</string>
		</dict>
	</array>
	<key>头部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>256.16666</string>
			<key>yaxis</key>
			<string>108.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>273.08331</string>
			<key>yaxis</key>
			<string>108.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>273.08331</string>
			<key>yaxis</key>
			<string>100.29166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>350.41666</string>
			<key>yaxis</key>
			<string>94.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>350.41666</string>
			<key>yaxis</key>
			<string>107.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>358.875</string>
			<key>yaxis</key>
			<string>107.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>358.875</string>
			<key>yaxis</key>
			<string>67.666664</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>354.04166</string>
			<key>yaxis</key>
			<string>53.166664</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>335.91666</string>
			<key>yaxis</key>
			<string>33.833332</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>323.83331</string>
			<key>yaxis</key>
			<string>27.791666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>277.91666</string>
			<key>yaxis</key>
			<string>30.208332</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>253.74998</string>
			<key>yaxis</key>
			<string>73.708328</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>256.16666</string>
			<key>yaxis</key>
			<string>108.75</string>
		</dict>
	</array>
	<key>嘴巴</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>296.04166</string>
			<key>yaxis</key>
			<string>147.41666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>297.25</string>
			<key>yaxis</key>
			<string>169.16666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>321.41666</string>
			<key>yaxis</key>
			<string>171.58333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>329.875</string>
			<key>yaxis</key>
			<string>164.33333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>329.875</string>
			<key>yaxis</key>
			<string>145</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>296.04166</string>
			<key>yaxis</key>
			<string>147.41666</string>
		</dict>
	</array>
</dict>
</plist>
