<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>左手</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>234.41666</string>
			<key>yaxis</key>
			<string>227.16666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>233.20833</string>
			<key>yaxis</key>
			<string>341.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>193.33333</string>
			<key>yaxis</key>
			<string>399.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>189.70833</string>
			<key>yaxis</key>
			<string>412.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>164.33333</string>
			<key>yaxis</key>
			<string>454.33331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>83.375</string>
			<key>yaxis</key>
			<string>547.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>82.166664</string>
			<key>yaxis</key>
			<string>561.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>67.666664</string>
			<key>yaxis</key>
			<string>590.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>61.624996</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>44.708332</string>
			<key>yaxis</key>
			<string>612.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>53.166664</string>
			<key>yaxis</key>
			<string>588.45831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>10.875</string>
			<key>yaxis</key>
			<string>635.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>1.2083333</string>
			<key>yaxis</key>
			<string>627.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>41.083332</string>
			<key>yaxis</key>
			<string>553.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>59.208332</string>
			<key>yaxis</key>
			<string>543.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>122.04166</string>
			<key>yaxis</key>
			<string>413.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>155.875</string>
			<key>yaxis</key>
			<string>374.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>163.125</string>
			<key>yaxis</key>
			<string>339.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>188.5</string>
			<key>yaxis</key>
			<string>296.04166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>207.83333</string>
			<key>yaxis</key>
			<string>239.24998</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>225.95833</string>
			<key>yaxis</key>
			<string>225.95833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>234.41666</string>
			<key>yaxis</key>
			<string>227.16666</string>
		</dict>
	</array>
	<key>右手</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>407.20831</string>
			<key>yaxis</key>
			<string>223.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>407.20831</string>
			<key>yaxis</key>
			<string>337.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>410.83331</string>
			<key>yaxis</key>
			<string>350.41666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>453.125</string>
			<key>yaxis</key>
			<string>428.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>494.20831</string>
			<key>yaxis</key>
			<string>485.74997</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>549.79163</string>
			<key>yaxis</key>
			<string>547.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>549.79163</string>
			<key>yaxis</key>
			<string>559.45831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>576.375</string>
			<key>yaxis</key>
			<string>613.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>587.25</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>580</string>
			<key>yaxis</key>
			<string>586.04163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>623.5</string>
			<key>yaxis</key>
			<string>633.16663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>630.75</string>
			<key>yaxis</key>
			<string>621.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>596.91663</string>
			<key>yaxis</key>
			<string>557.04163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>576.375</string>
			<key>yaxis</key>
			<string>540.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>518.375</string>
			<key>yaxis</key>
			<string>413.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>488.16666</string>
			<key>yaxis</key>
			<string>379.41666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>473.66666</string>
			<key>yaxis</key>
			<string>345.58331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>438.625</string>
			<key>yaxis</key>
			<string>276.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>438.625</string>
			<key>yaxis</key>
			<string>257.375</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>419.29166</string>
			<key>New item</key>
			<string>229.58333</string>
			<key>yaxis</key>
			<string></string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>407.20831</string>
			<key>yaxis</key>
			<string>223.54166</string>
		</dict>
	</array>
	<key>后背</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>234.41666</string>
			<key>yaxis</key>
			<string>227.16666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>233.20833</string>
			<key>yaxis</key>
			<string>341.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>240.45833</string>
			<key>yaxis</key>
			<string>380.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>395.125</string>
			<key>yaxis</key>
			<string>380.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>404.79166</string>
			<key>yaxis</key>
			<string>349.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>407.20831</string>
			<key>yaxis</key>
			<string>337.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>407.20831</string>
			<key>yaxis</key>
			<string>223.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>234.41666</string>
			<key>yaxis</key>
			<string>227.16666</string>
		</dict>
	</array>
	<key>腰部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>240.45833</string>
			<key>yaxis</key>
			<string>380.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>248.91666</string>
			<key>yaxis</key>
			<string>398.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>248.91666</string>
			<key>yaxis</key>
			<string>439.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>234.41666</string>
			<key>yaxis</key>
			<string>468.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>399.95831</string>
			<key>yaxis</key>
			<string>468.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>383.04166</string>
			<key>yaxis</key>
			<string>438.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>387.875</string>
			<key>yaxis</key>
			<string>399.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>395.125</string>
			<key>yaxis</key>
			<string>380.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>240.45833</string>
			<key>yaxis</key>
			<string>380.625</string>
		</dict>
	</array>
	<key>臀部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>234.41666</string>
			<key>yaxis</key>
			<string>468.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>223.54166</string>
			<key>yaxis</key>
			<string>494.20831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>217.5</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>310.54166</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>312.95831</string>
			<key>yaxis</key>
			<string>587.25</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>322.625</string>
			<key>yaxis</key>
			<string>582.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>323.83331</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>415.66666</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>418.08331</string>
			<key>yaxis</key>
			<string>549.79163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>401.16666</string>
			<key>yaxis</key>
			<string>474.87497</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>399.95831</string>
			<key>yaxis</key>
			<string>468.83331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>234.41666</string>
			<key>yaxis</key>
			<string>468.83331</string>
		</dict>
	</array>
	<key>左腿</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>217.5</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>221.125</string>
			<key>yaxis</key>
			<string>667</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>254.95833</string>
			<key>yaxis</key>
			<string>803.54163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>238.04166</string>
			<key>yaxis</key>
			<string>870</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>241.66666</string>
			<key>yaxis</key>
			<string>911.08331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>263.41666</string>
			<key>yaxis</key>
			<string>1046.4166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>254.95833</string>
			<key>yaxis</key>
			<string>1060.9166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>256.16666</string>
			<key>yaxis</key>
			<string>1079.0416</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>242.87498</string>
			<key>yaxis</key>
			<string>1092.3333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>238.04166</string>
			<key>yaxis</key>
			<string>1102</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>246.49998</string>
			<key>yaxis</key>
			<string>1114.0833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>287.58331</string>
			<key>yaxis</key>
			<string>1117.7083</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>304.5</string>
			<key>yaxis</key>
			<string>1110.4583</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>293.625</string>
			<key>yaxis</key>
			<string>1034.3333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>302.08331</string>
			<key>yaxis</key>
			<string>947.33331</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>308.125</string>
			<key>yaxis</key>
			<string>931.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>310.54166</string>
			<key>yaxis</key>
			<string>862.75</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>303.29166</string>
			<key>yaxis</key>
			<string>827.70831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>311.75</string>
			<key>yaxis</key>
			<string>801.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>310.54166</string>
			<key>yaxis</key>
			<string>669.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>310.54166</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
	</array>
	<key>右腿</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>323.83331</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>320.20831</string>
			<key>yaxis</key>
			<string>797.5</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>335.91666</string>
			<key>yaxis</key>
			<string>841</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>329.875</string>
			<key>yaxis</key>
			<string>863.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>327.45831</string>
			<key>yaxis</key>
			<string>912.29163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>340.75</string>
			<key>yaxis</key>
			<string>1012.5833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>331.08331</string>
			<key>yaxis</key>
			<string>1100.7916</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>343.16666</string>
			<key>yaxis</key>
			<string>1115.2916</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>373.375</string>
			<key>yaxis</key>
			<string>1115.2916</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>393.91666</string>
			<key>yaxis</key>
			<string>1102</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>379.41666</string>
			<key>yaxis</key>
			<string>1075.4166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>379.41666</string>
			<key>yaxis</key>
			<string>1056.0833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>369.75</string>
			<key>yaxis</key>
			<string>1045.2083</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>389.08331</string>
			<key>yaxis</key>
			<string>938.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>395.125</string>
			<key>yaxis</key>
			<string>863.95831</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>380.625</string>
			<key>yaxis</key>
			<string>810.79163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>379.41666</string>
			<key>yaxis</key>
			<string>781.79163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>387.875</string>
			<key>yaxis</key>
			<string>757.625</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>416.875</string>
			<key>yaxis</key>
			<string>629.54163</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>415.66666</string>
			<key>yaxis</key>
			<string>611.41663</string>
		</dict>
	</array>
	<key>脖子</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>234.41666</string>
			<key>yaxis</key>
			<string>227.16666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>262.20831</string>
			<key>yaxis</key>
			<string>216.29166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>279.125</string>
			<key>yaxis</key>
			<string>204.20833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>372.16666</string>
			<key>yaxis</key>
			<string>204.20833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>369.75</string>
			<key>yaxis</key>
			<string>213.875</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>407.20831</string>
			<key>yaxis</key>
			<string>223.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>234.41666</string>
			<key>yaxis</key>
			<string>227.16666</string>
		</dict>
	</array>
	<key>头部</key>
	<array>
		<dict>
			<key>xaxis</key>
			<string>279.125</string>
			<key>yaxis</key>
			<string>205.41666</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>262.20831</string>
			<key>yaxis</key>
			<string>182.45833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>246.49998</string>
			<key>yaxis</key>
			<string>157.08333</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>259.79166</string>
			<key>yaxis</key>
			<string>87</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>281.54166</string>
			<key>yaxis</key>
			<string>59.208332</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>312.95831</string>
			<key>yaxis</key>
			<string>44.708332</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>338.33331</string>
			<key>yaxis</key>
			<string>41.083332</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>369.75</string>
			<key>yaxis</key>
			<string>71.291664</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>384.25</string>
			<key>yaxis</key>
			<string>105.125</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>383.04166</string>
			<key>yaxis</key>
			<string>165.54166</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>372.16666</string>
			<key>yaxis</key>
			<string>204.20833</string>
		</dict>
		<dict>
			<key>xaxis</key>
			<string>279.125</string>
			<key>yaxis</key>
			<string>205.41666</string>
		</dict>
	</array>
</dict>
</plist>
